@model int

<div class="Container row pt-4">
    <div class="col-12 text-center">
        <h3>Thank You</h3>
        <br />
        <img src="~/img/confirm.jpg" width="400" height="400" />
    </div>
    <div class="col-12 text-center">
        <br />
        <h2>Your Order Number @Model Has Been Successfully Placed</h2><br />
    </div>

</div>
