@model ShoppingCardVM
@using Microsoft.Extensions.Options
@using MyShopProject.Utilities
@inject IOptions<StripeData> Stripe

<div class="card-body">
        <form method="post">
        <div class="row">
            <div class="col-md-7">
                <div class="left border">
                    <div class="row">
                        <span class="header">Billing Address </span>

                    </div>
                    <span>Name</span>
                    <input asp-for="OrderHeader.Name" type="text" class="form-control">
                    <span asp-validation-for="OrderHeader.Name"></span>
                    <span>Email</span>
                    <input asp-for="OrderHeader.Email" type="text" class="form-control">
                    <span asp-validation-for="OrderHeader.Email"></span>
                    <div class="row">
                        <div class="col-4">
                            <span>City</span>
                            <input asp-for="OrderHeader.City" type="text" class="form-control">
                            <span asp-validation-for="OrderHeader.City"></span>
                        </div>
                        <div class="col-4">
                            <span>Phone Number</span>
                            <input id="phone" asp-for="OrderHeader.PhoneNumber" type="text" class="form-control">
                            <span asp-validation-for="OrderHeader.PhoneNumber"></span>
                        </div>
                    </div>
                    <span>Address</span>
                    <input asp-for="OrderHeader.Address" type="text" class="form-control">
                    <span asp-validation-for="OrderHeader.Address"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="right border">
                    <div class="header">Order Summary</div>
                    @foreach (var item in Model.ShoppingCarts)
                    {
                        <div class="row item">
                            <div class="col-4 align-self-center"><img class="img-fluid" src="~/@item.Product.Img"></div>
                            <div class="col-8">
                                <div class="row"><b>$@item.Product.Name</b></div>
                                <div class="row">$@item.Product.Price</div>
                            </div>
                        </div>
                    }
                    <hr>

                    <div class="row lower">
                        <div class="col text-left"><b>Total to pay</b></div>
                        <div class="col text-right"><b>$@Model.OrderHeader.TotalPrice</b></div>
                    </div>

                    <button type="submit"  class="placeorder">Place order</button>
                </div>


            </div>
        </div>

        </form>
</div>
<style>
    .placeorder {
        width: 100%;
        font-size: 0.7rem;
        margin: 4vh 0 1.5vh 0;
        padding: 1.5vh;
        background-color:saddlebrown; /* Button background color */
        color: white; /* Text color */
        border: none; /* Remove default border */
        border-radius: 50px; /* Make the button round */
        height: 50px; /* Set a specific height */
        padding: 0 20px; /* Adjust padding to maintain rounded shape */
        font-size: 16px; /* Font size */
        line-height: 50px; /* Center text vertically */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }

        .placeorder:hover {
            background-color: darkred; /* Change color on hover */
        }

#logo{
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 1.6rem;
}

@@media(max-width:768px){
    .card-body{
        padding: 0 1rem 1rem 1rem;
        background-image: url("https://i.imgur.com/4bg1e6u.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }  
    .card-top{
        padding: 0.7rem 1rem;
    }
}
.row{
    margin: 0;
}
.upper{
    padding: 1rem 0;
    justify-content: space-evenly;
}
#three{
    border-radius: 1rem;
        width: 22px;
    height: 22px;
    margin-right:3px;
    border: 1px solid blue;
    text-align: center;
    display: inline-block;
}
#payment{
    margin:0;
    color: blue;
}

    .card-body {
        margin: 30px;
        padding: 0 5rem 5rem 5rem;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px; /* Rounding the card */
    }

    .left, .right {
        background-color: #ffffff;
        padding: 2vh;
        border-radius: 15px; /* Rounding the left and right sections */
    }

        .left img, .right img {
            border-radius: 20%; /* Making the photos round */
        }

    form span {
        color: #4F4F4F; /* Dark gray color for font in the billing address */
    }

    /* Other existing CSS */

form{
    padding: 2vh 0;
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.header{
    font-size: 1.5rem;
        color: #4F4F4F;
}

.left .col-4{
    padding-left: 0;
}
.right .item{
    padding: 0.3rem 0;
}
.right{
    background-color: #ffffff;
    padding: 2vh;
}
.col-8{
    padding: 0 1vh;
}
.lower{
    line-height: 2;
}

        .placeorder:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}


a{
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}
input[type=checkbox]{
    width: unset;
    margin-bottom: unset;
}
#phone{
   
} 
#cvv:hover{

}
</style>